---
import Layout from "@layouts/Layout.astro";

const metadata = {
  title: "Pleiadian Records",
  description: "Cutting edge psychedelic trance music label.",
};
---

<Layout {...metadata}>
  <section>
    <h1 class="sm:text-4xl text-3xl font-bold mb-2 text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-sky-100">
      About Pleiadian Records
    </h1>
    
    <img src="visuals.jpg" class="rounded-xl">

    <p class="pt-4 text-center">
      Cutting edge psychedelic record label originated in the Sonoran desert
      Mexico.
    </p>
    <p class="text-center">
      Pleiadian Records evolved from a mutual passion for Psy Trance that
      eventually became manifest in a music label. Heavily supported by DJs and
      visual artists like Mutex, Makro and Yuga, the project considers itself to
      be a laboratory for outer space sounds, pushing the borders of Psy Trance.
    </p>
    <p class="text-center">
      Exactly this philosophy is also the idea of Audiopathik, the project of
      the two label founders Alex Urias and Gilberto Wendlandt.
    </p>
  </section>
  
  <section
    class="flex mt-9 justify-center">
    <img src="PLEIADIAN2.png" class="w-72" />
  </section>
</Layout>
